<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title th:text="${title}">Read Log Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div th:insert="components/navbar :: navbar"></div>
    </div>
    <div>
      <h1>
        <span th:text="${user.name}">Name</span>'s
        <span th:text="${title}">Books</span>
      </h1>
      <hr />
      <div>
        <div th:each="book: ${books}">
          <div th:if="${book.coverImage != ''}">
            <div th:if="${title == 'Books'}">
              <a
                href="#"
                th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}"
                th:attr="title=${book.title}"
                ><img src="" th:src="@{${book.coverImage}}" alt="..."
              /></a>
            </div>
            <div th:if="${title != 'Books'}">
              <a
                href="#"
                th:href="@{'/books/' + ${user.uid} + '/readinglist?bookId=' + ${book.id}}"
                th:attr="title=${book.title}"
                ><img src="" th:src="@{${book.coverImage}}" alt="..."
              /></a>
            </div>
          </div>
          <div th:if="${book.coverImage == ''}">
            <div th:if="${title == 'Books'}">
              <a
                href="#"
                th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}"
                th:attr="title=${book.title}"
                ><div>
                  <h4 th:text="${book.title}">Placeholder</h4>
                </div></a
              >
            </div>
            <div th:if="${title != 'Books'}">
              <a
                href="#"
                th:href="@{'/books/' + ${user.uid} + '/readinglist?bookId=' + ${book.id}}"
                th:attr="title=${book.title}"
                ><div>
                  <h4 th:text="${book.title}">Placeholder</h4>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
