<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title th:text="${title}">Read Log Admin</title>
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/joshua-philips/read_log_updated/master/assets/launcher.png"
      type="image/x-icon"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div th:insert="~{components/navbar :: navbar}"></div>
    </div>
    <div class="content">
      <h3>
        <span th:text="${user.name}">Name</span>'s
        <span th:text="${title}">Books</span>
      </h3>
      <hr />
      <br />
      <div class="books">
        <div th:each="book: ${books}">
          <!--  -->

          <div th:if="${book.coverImage != ''}">
            <a class="book" th:if="${title == 'Books'}" href="#" th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}">
            <div class="cover" >
              <img src="" th:src="@{${book.coverImage}}" alt="..."/>
            </div>
            <div class="description">
              <p class="title" th:text="${book.title}">Title</br>
            </div>
          </a>
          
          <a class="book" th:if="${title != 'Books'}" href="#" th:href="@{'/books/' + ${user.uid} + '/readinglist?bookId=' + ${book.id}}"
          >
            <div class="cover" >
              <img src="" th:src="@{${book.coverImage}}" alt="..."/>
            </div>
            <div class="description">
              <p class="title" th:text="${book.title}">Title</br>
            </div>
          </a>
        </div>


        <!--  -->
        <div th:if="${book.coverImage == ''}">
          <a class="book" th:if="${title == 'Books'}" href="#" th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}">
          <div class="placeholder" >
            <p class="title" th:text="${book.title}">Title</br>
            </div>
          <div class="description">
            <p class="title" th:text="${book.title}">Title</br>
          </div>
        </a>
        
        <a class="book" th:if="${title != 'Books'}" href="#" th:href="@{'/books/' + ${user.uid} + '/readinglist?bookId=' + ${book.id}}"
        >
          <div class="placeholder" >
            <p class="title" th:text="${book.title}">Title</br>
            </div>
          <div class="description">
            <p class="title" th:text="${book.title}">Title</br>
          </div>
        </a>
      </div>
        </div>
      </div>
    </div>
  </body>
</html>
