<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Error | Readlog Admin</title>
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/joshua-philips/read_log_updated/master/assets/launcher.png"
      type="image/x-icon"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="error-page">
      <h4>Error occured while trying to reach this endpoint</h4>
      <a class="nav-link" href="/">Home</a>
    </div>
  </body>
</html>
