<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Users | Read Log Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/joshua-philips/read_log_updated/master/assets/launcher.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div>
      <div th:insert="~{components/navbar :: navbar}"></div>
      <div class="content">
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
          <tr th:each="user: ${users}">
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td>
              <a th:href="@{'/user/' + ${user.uid}}" href="/" class="link"
                >Details</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
