<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div th:insert="~{components/navbar :: navbar}"></div>
      <div>
        <div th:each="user: ${users}">
          <div>
            <img src="..." alt="..." th:src="@{${user.photoUrl}}" />
            <div>
              <h5 th:text="${user.name}">Name</h5>
              <p th:text="${user.email}">Email</p>
              <a th:href="@{'/user/' + ${user.uid}}" href="/">User Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
