<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title th:text="${user.name}">Read Log Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div th:insert="components/navbar :: navbar"></div>
    </div>
    <div>
      <div>
        <div>
          <img
            src=""
            th:src="@{${user.photoUrl}}"
            alt="..."
            class="profile-pic"
          />
        </div>
        <div>
          <div>
            <div>
              <h3 th:text="${user.name}">Name</h3>
            </div>
            <div>
              <h6 th:text="${user.email}">Email</h6>
            </div>
            <div>
              <div>
                <h4 th:text="${created}">Created</h4>
                <h6>Created</h6>
              </div>
              <div>
                <h4 th:text="${signedIn}">Last Sign In</h4>
                <h6>Last Signed In</h6>
              </div>
              <div>
                <a th:href="@{'/books/' + ${user.uid}}" href="/"
                  ><h4>Books</h4></a
                >
              </div>
              <div>
                <a th:href="@{'/readingList/' + ${user.uid}}" href="/"
                  ><h4>Reading List</h4></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mt-5">Recent Books</h1>
      <hr />
      <div>
        <div th:each="book: ${books}">
          <div th:if="${book.coverImage != ''}">
            <a
              href="#"
              th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}"
              th:attr="title=${book.title}"
              ><img src="" th:src="@{${book.coverImage}}" alt="..."
            /></a>
          </div>
          <div th:if="${book.coverImage == ''}">
            <a
              href="#"
              th:href="@{'/books/' + ${user.uid} + '/book?bookId=' + ${book.id}}"
              th:attr="title=${book.title}"
              ><div>
                <h4 th:text="${book.title}">Placeholder</h4>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
